#cloud-config
disable_root: false
package_update: true

users:
  - name: root
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDHrPVbtdHf0aJeRu49fm/lLQPxopvvz6NZZqqGB+bcocZUW3Hw8bflhouTsJ+S4Z3v7L/F6mmZhXU1U3PqUXLVTE4eFMfnDjBlpOl0VDQoy9aT60C1Sreo469FB0XQQYS5CyIWW5C5rQQzgh1Ov8EaoXVGgW07GHUQCg/cmOBIgFvJym/Jmye4j2ALe641jnCE98yE4mPur7AWIs7n7W8DlvfEVp4pnreqKtlnfMqoOSTVl2v81gnp4H3lqGyjjK0Uku72GKUkAwZRD8BIxbA75oBEr3f6Klda2N88uwz4+3muLZpQParYQ+BhOTvldMMXnhqM9kHhvFZb21jTWV7p creeksidenetworks@gmail.com

write_files:
  # Script to set static IP on eth0 to fix macvlan issues
  - path: /usr/local/sbin/eth0
    owner: root:root
    permissions: '0755'
    content: |
      #!/usr/bin/env bash
      #addr=10.180.12.5/24
      #gw=10.180.12.254
  
      # set static ip
      if [ -n $addr ]; then
        /usr/sbin/ip addr flush dev eth0
        /usr/sbin/ip addr add $addr dev eth0
        /usr/sbin/ip link set dev eth0 up
        sleep 2
        /usr/sbin/ip route add default via $gw
        /usr/bin/echo "nameserver $gw" > /etc/resolv.conf
      fi

runcmd:
  - dhclient -v || true
  # Set proxy for yum and dnf 
  - echo "proxy=http://10.180.13.100:3128" >> /etc/yum.conf
  - echo "proxy=http://10.180.13.100:3128" >> /etc/dnf/dnf.conf
  # Install useful packages
  - dnf install -y epel-release openssh-server iputils nano git ncurses net-tools nfs-utils curl wget rsync telnet jq lsof bind-utils tcpdump net-tools util-linux tree traceroute mtr cloud-utils-growpart tar gzip
  - systemctl enable --now sshd
  # Add to eth0 configure script to root crontab
  - echo "@reboot /usr/local/sbin/eth0" | crontab -
